@font-face {
    font-family: "gotham";
    src: url(../fonts/Gotham.woff2);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "gotham-bold";
    src: url(../fonts/Gotham-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}
.gotham{
    font-family: 'gotham', sans-senserif;
    font-weight: 700;
}
.gotham_bold{
    font-family: 'gotham_bold', sans-senserif;
}
 
